html {
  height: 100%;
}

body {
  align-items: center;
  background-color: #FFFDEE;
  border: 30px solid #fff;
  box-sizing: border-box;
  color: #3F2525;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  padding: 40px;
}

h1 {
  font-size: 30px;
}

ul {
  list-style-type: square;
}

a {
  background-image: linear-gradient(to bottom, #69FCBE 60%, #69FCBE 100%);
  background-position: 0 15px;
  background-repeat: no-repeat;
  color: #3F2525;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 300ms;
  font-size: 16px;
}

a:visited {
  background-image: linear-gradient(to bottom, #FF87C0 60%, #FF87C0 100%);
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  background-position: 0 0;
  font-size: 16px;
}

a:active {
  background-image: linear-gradient(to bottom, #FF87C0 60%, #FF87C0 100%);
  font-size: 16px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: -55px auto 60px;
  max-width: 1200px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  white-space: nowrap;
}

.writer-img {
  margin-right: 40px;
  position: absolute;
  right: 100%;
}

.container {
  line-height: 1.7;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.contact-links {
  display: inline-flex;
  height: 22px;
  list-style-type: none;
  margin: 0;
}

.contact-links a {
  background: none;
  margin-left: 20px;
  size: 16px;
}

.contact-links img {
  height: 22px;
}

@media only screen and (max-width: 1175px) {
  .writer-img {
    margin: 0 auto;
    position: relative;
    right: auto;
    width: 140px;
  }

  .intro {
    text-align: center;
  }
}

@media screen and (max-width: 605px) {
  body {
    border-width: 30px 0px;
    text-align: left;
  }
}

@media screen and (max-width: 525px) {
  .contact-links {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 17px;
  }
}



